<div class="inicial">
    <a href="{% url 'estudiante' letter='a' %}">a</a>
    <a href="{% url 'estudiante' letter='b' %}">b</a>
    <a href="{% url 'estudiante' letter='c' %}">c</a>
    <a href="{% url 'estudiante' letter='d' %}">d</a>
    <a href="{% url 'estudiante' letter='e' %}">e</a>
    <a href="{% url 'estudiante' letter='f' %}">f</a>
    <a href="{% url 'estudiante' letter='g' %}">g</a>
    <a href="{% url 'estudiante' letter='h' %}">h</a>
    <a href="{% url 'estudiante' letter='i' %}">i</a>
    <a href="{% url 'estudiante' letter='j' %}">j</a>
    <a href="{% url 'estudiante' letter='k' %}">k</a>
    <a href="{% url 'estudiante' letter='l' %}">l</a>
    <a href="{% url 'estudiante' letter='m' %}">m</a>
    <a href="{% url 'estudiante' letter='n' %}">n</a>
    <a href="{% url 'estudiante' letter='ñ' %}">ñ</a>
    <a href="{% url 'estudiante' letter='o' %}">o</a>
    <a href="{% url 'estudiante' letter='p' %}">p</a>
    <a href="{% url 'estudiante' letter='q' %}">q</a>
    <a href="{% url 'estudiante' letter='r' %}">r</a>
    <a href="{% url 'estudiante' letter='s' %}">s</a>
    <a href="{% url 'estudiante' letter='t' %}">t</a>
    <a href="{% url 'estudiante' letter='o' %}">o</a>
    <a href="{% url 'estudiante' letter='w' %}">w</a>
    <a href="{% url 'estudiante' letter='x' %}">x</a>
    <a href="{% url 'estudiante' letter='y' %}">y</a>
    <a href="{% url 'estudiante' letter='z' %}">z</a>
</div>
    


