{% extends 'layout/base.html'%}
{% block 'title'%} Estudiantes {% endblock %}
{% block 'content'%}
{% include 'layout/partials/by_initial.html' %}
<form class="search" action="{% url 'estudiante'%}" method="GET">
   <input class="search_b" type="text" name="search" placeholder="buscar estudiante">
   <input class="search_boton" type="submit" value="buscar">
</form>


<span class="aux-btns"><a href="{%url 'create'%}">añadir</a></span>
<ul class="list">
     {% for i in estudiantes%}
     <li>{{i}}
     <span>
          <a href="{% url 'view' id=i.id%}" class="btn-ver">Ver</a>
          <a href="{% url 'edit' id=i.id%}" class="btn-editar">editar</a>
          <a href="{% url 'delete' id=i.id %}" class="btn-delete">eliminar</a>
     </span> 
     </li>
     {% endfor %}
     
</ul>
{% endblock %}
